In [1]:
'This is a string'

'This is a string'

In [2]:
"This is also a string"

'This is also a string'

In [3]:
"The quotes do not match'

SyntaxError: unterminated string literal (detected at line 1) (1829764980.py, line 1)

In [4]:
'Let's see if this works

SyntaxError: invalid syntax (1618629434.py, line 1)

In [5]:
"Let's see if this works now"

"Let's see if this works now"

In [6]:
'''
This is a multiline string

It's great for documenting functions,
storing longer texts,
and you don't have to worry about apostrophes or "quotes"!
'''

'\nThis is a multiline string\n\nIt\'s great for documenting functions,\nstoring longer texts,\nand you don\'t have to worry about apostrophes or "quotes"!\n'

### Escape sequences

| Escape sequence | Description        |
|-----------------|--------------------|
| \\'             | Single quote       |
| \\"             | Double quote       |
| \\\\            | Backslash          |
| \\t             | Tab                |
| \\n             | Newline            |
| \\r             | Carriage return    |

In [7]:
'This string isn\'t going to result in an error'

"This string isn't going to result in an error"

In [8]:
print('Kaylie said \"VS code isn\'t working\"')

Kaylie said "VS code isn't working"

In [9]:
# some escape sequences don't require a print statement for proper interpretation within a string
# some do require a print statement

In [10]:
print('\t This is a tab!')

	 This is a tab!

In [11]:
# carriage return character: used to move the cursor or print position back to the beginning of the
# current line without advancing to the next line

# commonly used in console output to overwrite or update text on the same line (instead of printing
# to a new line)

In [12]:
print('This is a very good \r example')

 examplea very good

In [13]:
# Output: examplea very good

In [14]:
4 + 4

8

In [15]:
'hello' + ' ' + 'world'

'hello world'

In [16]:
4.0 * 3.0

12.0

In [17]:
'ha' * 3

'hahaha'

In [18]:
'This year is' + 2020

TypeError: can only concatenate str (not "int") to str

In [19]:
'apple' == 'Apple'

False

In [20]:
'apple' != 'Apple'

True

In [21]:
'20' == 20

False

In [22]:
first_name = 'Ada'
last_name = 'Lovelace'

In [23]:
first_name

'Ada'

In [24]:
last_name

'Lovelace'

In [25]:
# Things to remember:
# zero-indexed, this means the first character is at index 0
# slices do not include the character at the ending index positions

In [26]:
first_name[0]

'A'

In [27]:
last_name[0]

'L'

In [28]:
last_name[0:4]

'Love'

In [29]:
first_name[0:2]

'Ad'

In [30]:
# if you don't have a starting index, it will slice from the beginning
# if you don't have an ending index it will slice to the end

In [31]:
first_name[:1]

'A'

In [32]:
last_name[4:]

'lace'

In [33]:
phone_number = '+1 555-123-4567'

phone_number[3:6]

'555'

In [34]:
# negative indices can also be used to slice from the end

In [35]:
phone_number[-4:]

'4567'

In [36]:
job_qualifications = '''The successful applicant will be proficient
in R, Python, SQL, statistics, and data visualization'''

In [37]:
job_qualifications

'The successful applicant will be proficient\nin R, Python, SQL, statistics, and data visualization'

In [38]:
'R' in job_qualifications

True

In [39]:
' r ' in job_qualifications

False

In [40]:
'Javascript' in job_qualifications

False

In [41]:
print("Today is Thurday", 1)

Today is Thurday 1

In [42]:
len("Sometimes we type out verrryyyyy long sentences")

47

In [43]:
fruit = 'banana'
sorted_fruit = sorted(fruit)
sorted_fruit

['a', 'a', 'a', 'b', 'n', 'n']

In [44]:
# string methods work only on strings
# methods are called differently from other functions

In [45]:
'I am not yelling'.upper()

'I AM NOT YELLING'

In [46]:
'This string is unusualeee'.count('e')

3

In [47]:
'file_name.csv'.endswith('.csv')

True

In [48]:
'long file name with spaces.csv'.replace(' ', '_')

'long_file_name_with_spaces.csv'

In [49]:
first_name

'Ada'

In [50]:
last_name

'Lovelace'

In [51]:
# .format() method: allows for string formatting by specifying
# placeholders {} within the string and providing values to replace
# those placeholders

In [52]:
'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [53]:
veggie = 'lettuce'

In [54]:
'My favourite vegetable is {}'.format(veggie)

'My favourite vegetable is lettuce'

In [55]:
# f-string: allows for more concise and readable string interpretation
# by directly embedding expressions within the string

In [56]:
f'Ada Lovelace\'s initials are {first_name[0]}. {last_name[0]}.'

"Ada Lovelace's initials are A. L."

In [57]:
fruit = 'kiwi'
f'My favourite fruit is {fruit}'

'My favourite fruit is kiwi'

In [60]:
# string to integer

'17'

'17'

In [62]:
type(int('17'))

int

In [63]:
int('17.4')

ValueError: invalid literal for int() with base 10: '17.4'

In [64]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [65]:
# string to float

float('892')

892.0

In [67]:
type(float('892.5'))

float

In [68]:
float('you')

ValueError: could not convert string to float: 'you'

In [69]:
# float and int to string

str(37)

'37'

In [70]:
str(20.3)

'20.3'

In [71]:
'20' + str(40.2)

'2040.2'

In [72]:
str(40.2)

'40.2'

In [78]:
age = input('How old are you? ')

In [79]:
age

'5678'

In [81]:
age_next_bday = int(age) + 1
age_next_bday

5679

In [ ]:
# logic operators
# not: negate the truth value of the state
# and: check if the statements on both sides are true
# or: check if at least one of the statements are true

## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

In [82]:
not True

False

In [83]:
not False

True

In [84]:
3 == 3

True

In [86]:
not 3 == 3

False

## Operator precedence

Boolean operators are evaluated after arithmetic and comparison operators.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |
| 6 | `not` | Not |
| 7 | `and` | And |
| 8 | `or` | Or|

In [ ]:
# python considers integer 0/float 0.0 to be False and every other 
# non-zero integer/float (including negative numbers) are True

In [87]:
not 0

True

In [88]:
not 3

False

In [90]:
not 0.5

False

In [91]:
not 0.0

True

In [92]:
100 + True # True is evaluated as 1

101

In [93]:
100 + False # False is evaluated as 0

100

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

In [95]:
(7 == 7.0) and (32 > 9)

True

In [96]:
7 == 7.0 # implicitly converting one of the operands to the 
# type of the other operand before performing the comparison

True

In [97]:
32 > 9

True

In [100]:
('Python' == 'python') and True

False

In [101]:
'Python' == 'python'

False

In [102]:
is_summer = True
is_sunny = True
is_summer and is_sunny

True

## To avoid confusion and ensure consistent behaviour, it's recommended to use boolean values explicitly

In [103]:
# return the first falsy value encountered or the last truthy value
# if all operands are true based on the conditions provided

is_winter = "True" # string with the value "True"
is_cloudy = True # boolean with the value True

In [104]:
# non-empty string is truthy in Python

is_winter and is_cloudy

True

In [105]:
is_cloudy and is_winter

'True'

In [106]:
learning_support_1 = 'Julia'
learning_support_2 = 'Keli'

In [107]:
learning_support_1 and learning_support_2

'Keli'

In [108]:
# 0 is considered falsy
# non-zero is considered truthy

0 and 5

0

In [109]:
4 and 5

5

In [110]:
4 and 0

0

## `or`

Evaluates to `True` if just one of the statements is true.

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

In [111]:
('Python' == 'python') or True

True

In [112]:
'Python' == 'python'

False

In [113]:
(6 < 2) or (7 != 7)

False

In [114]:
6 < 2

False

In [115]:
7 != 7

False

In [116]:
# return the first truthy value encountered 
# or the last falsy value if all operands are `False`

100 or 0

100

In [117]:
0 or 0

0

In [118]:
0 or ""

''

In [119]:
not (7 % 2 == 1) or False

False

In [120]:
7 % 2

1

In [121]:
1 == 1

True

In [122]:
not True

False

In [123]:
False or False

False

In [127]:
year = 2025

if year >= 2000:
    print('We are in the 21st century.')
else:
    print('We are not in the 21st century.')

We are in the 21st century.

In [130]:
year = 2025

if year >= 2000:
    print('We are in the 21st century.')
elif year >= 1900:
    print('We are in the 20th century.')
elif year >= 1800:
    print('We are in the 19th century.')
else:
    print('We have gone way back in time!')

We are in the 21st century.