# February 4th 2025
## Live Learning Session

   - Utilize keyboard shortcuts for faster execution:
     - `Shift + Enter`: Run the current cell and move to the next cell.
     - `Ctrl + Enter`: Run the current cell and stay on the same cell.
     - `Alt + Enter`: Run the current cell and insert a new cell below.

In [6]:
print("data science institute!")

data science institute!

In [5]:
print("hello world")

hello world

In [2]:
type(6)

int

In [3]:
type(3.0)

float

In [4]:
type("hello!")

str

In [5]:
type(True)

bool

In [6]:
5 + 6

11

In [7]:
5 / 2

2.5

## Additional Arithmetic Operators

| Operator | Description |
|---|---|
| // | Integer division (always rounds down)|
| % | Modulo or remainder |
| ** | Exponentiation |

- Division operator (/): return float to maintain precision in divsion operations

- Floor division operator (//): divide the first operand by the second and return the quotient rounded down to the nearest integer; return integer

- Modulo or remainer (%): return the remainder of the division of the first operand by the second; return integer

- Exponentiation (**): meaning raising a number to a power; return the same type as base operand, maintain precision and consistency

In [8]:
10 / 3

3.3333333333333335

In [10]:
10 // 3

3

In [11]:
14 / 3

4.666666666666667

In [12]:
14 // 3

4

In [13]:
10 % 3

1

In [14]:
14 % 3

2

In [15]:
10 ** 3

1000

In [17]:
2.0 ** 2

4.0

## Comparison operators

Python has comparison operators as well as arithmetic operators. Unlike arithmetic expressions, which produce integer or float values, comparison expressions produce a Boolean value.

| Operator | Description |
| --- | --- |
| `>` | Greater than |
| `>=` | Greater than or equal to |
| `<` | Less than |
| `<=` | Less than or equal to |
| `==` | Equal to |
| `!=` | Not equal to |

In [18]:
50 > 25

True

In [19]:
-15 >= - 14.99

False

In [20]:
20 == 20

True

In [21]:
30 != 100

True

## Operator precedence

Arithmetic and comparison operators are evaluated in the following order. We can enclose operations in parentheses to override the order of precedence -- operations in parentheses are evaluated before the rest of the expression.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |

In [22]:
True

True

In [23]:
true

NameError: name 'true' is not defined

In [ ]:
# variable names can have letters, digits, and underscores
# cannot start with a digit
# case sensitive (e.g., variable and Variable)

In [24]:
degrees_celsius = 25

In [25]:
degrees_celsius

25

In [32]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [27]:
degrees_fahrenheit

77.0

In [28]:
(9 / 5) * 25 + 32

77.0

In [29]:
degrees_celsius = 0

In [30]:
degrees_celsius

0

In [31]:
degrees_fahrenheit

77.0

In [33]:
degrees_fahrenheit

32.0

In [34]:
degrees_celsius = degrees_celsius + 10

In [35]:
degrees_celsius

10

In [36]:
degrees_celsius = degrees_celsius + 10

In [37]:
degrees_celsius

20

In [38]:
a = 1

In [39]:
a

1

In [45]:
b = a

In [42]:
b

1

In [43]:
a = 2

In [44]:
b

1

In [46]:
b

2

In [ ]:
# Augmented assignment

degrees_celsius = 0
degrees_celsius += 10 # same as: degrees_celsius = degrees_celsius + 10
degrees_celsius

10

In [48]:
degrees_celsius = 0
degrees_celsius -= 10 # same as: degrees_celsius = degrees_celsius - 10
degrees_celsius

-10

In [49]:
a = 1

In [50]:
a

1

In [51]:
b = a

In [52]:
b

1

In [53]:
a = 2

In [54]:
a

2

In [55]:
b

1

In [56]:
12 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3541004665.py, line 1)

In [57]:
25 -

SyntaxError: invalid syntax (934255472.py, line 1)

In [58]:
my_variable

NameError: name 'my_variable' is not defined

In [ ]:
# This is a comment.

student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = (student1_grade + student2_grade + student3_grade) / 3
average_grade  # average_grade is the mean of student 1, 2, and 3's marks

90

71.33333333333333

In [63]:
# Readability

# white space: a space on either side of an operand, split code across multiple
# lines by wrapping it in parentheses

# comments: communicate the gist of a program and explain complicated sections 
# of code, toggle line of code on and off

# clear and consistent variable names: descriptive variable names, 
# consistent naming

Version 1
```python
studentone_grade=90
StudentGrade2=50
stu3gr=74
avggrade=(studentone_grade+StudentGrade2+stut3gr)/3
```

Version 2 
```python
student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = ((student1_grade
                  + student2_grade
                  + student3_grade)
                 / 3)
```

In [64]:
print(42)

42

In [65]:
print("It's Tuesday!")

It's Tuesday!

In [66]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [67]:
type(42)

int

In [68]:
abs(-43)

43

In [70]:
round(2/3)

1

In [71]:
2/3

0.6666666666666666

In [72]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [73]:
round(2/3, 5)

0.66667

In [74]:
int(3.99)

3

In [75]:
int(7.289514113)

7

In [76]:
float(7)

7.0

In [77]:
type(round(2*1.5))

int

In [78]:
2*1.5

3.0

In [79]:
round(3.0)

3

In [80]:
type(3)

int

In [81]:
def c_to_f(degrees_c):
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [83]:
c_to_f(100)

212.0

In [84]:
c_to_f(-11)

12.2

In [85]:
print((9 / 5) * 100 + 32)
print((9 / 5) * -11 + 32)

212.0
12.2

In [86]:
freezing_f = c_to_f(0)

In [87]:
freezing_f

32.0

In [ ]:
def divide(dividend, divisor):
    result = dividend / divisor
    return result

In [89]:
divide(0, 2)

0.0

In [90]:
divide(2, 0)

ZeroDivisionError: division by zero

In [107]:
def calc_sales_tax(price, tax_rate=0.13):
    tax_amt = price * tax_rate
    print(tax_amt)
    # return tax_amt

In [109]:
lunch_tax = calc_sales_tax(5)

0.65

In [110]:
lunch_tax

In [93]:
5 * 0.13

0.65

In [100]:
calc_sales_tax(5, .08)

0.4

In [95]:
5 * 0.08

0.4

In [111]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.2):
    tax_amt = price * tax_rate
    tip_amt = price * tip_rate
    total_cost = price + tax_amt + tip_amt
    return total_cost

In [112]:
calc_total_bill(100)

133.0

In [113]:
100 * 0.13

13.0

In [114]:
100 * 0.20

20.0

In [115]:
100 + 13 + 20

133

In [116]:
calc_total_bill(100, 0.15)

135.0

In [117]:
100 + 100 * 0.15 + 100 * 0.20

135.0

In [118]:
calc_total_bill(100, tip_rate=0.15)

128.0

In [119]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [ ]:
def c_to_f(degrees_c):
    '''Convert degrees from Celsius to Fahrenheit'''
    return ((9 /5) * degrees_c + 32)

In [121]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Convert degrees from Celsius to Fahrenheit

In [122]:
degrees_c

NameError: name 'degrees_c' is not defined

In [123]:
kaylie = 'technical_facilitator'

In [124]:
kaylie

'technical_facilitator'