In [3]:
year = 1997

if year >= 2000:
    print('We are in the 21st century')
elif year >= 1900:
    print('We are in the 20th century')
else:
    print('We are not in the 21st or 20th century')

We are in the 20th century

In [13]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    '''age -> integer; qualifying_condition -> boolean;
    time_since_last_exam -> integer'''

    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligible for 1 major eye exam and any minor assessments"
        else:
            return "It hasn't been 12 months since your last major eye exam"
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >= 12:
                return "You are eligible for 1 major eye exam and 2 additional follow-up minor assessments"
            else:
                return "It hasn't been 12 months since your last major eye exam"
        else:
            return "You do not have an eligible medical condition affecting your eyes"    
    elif age >= 65:
        if time_since_last_exam >= 18:
            return "You are eligible for 1 major eye exam and 2 additional follow-up minor assessments"
        else:
            return "It hasn't been 18 months since your last major eye exam"
    else:
        return "Invalid age input"

In [7]:
kaylie_time_last = 13
kaylie_time_last >= 12

True

In [8]:
True == True

True

In [9]:
False == True

False

In [11]:
eye_exam_covered(19, False, 11)

"It hasn't been 12 months since your last major eye exam"

In [12]:
eye_exam_covered(27, True, 15)

'You are eligible for 1 major eye exam and 2 additional follow-up minor assessments'

In [14]:
dog = 2

In [15]:
dog

2

In [16]:
lie = True

In [17]:
lie

True

In [21]:
# lists

# create a list by putting values in square brackets

vowels  = ['a', 'e', 'i', 'o', 'u']
print(vowels)

['a', 'e', 'i', 'o', 'u']

In [20]:
# conventional way
empty_list = []
print(empty_list)

[]

In [22]:
empty_list2 = list()
print(empty_list2)

[]

In [24]:
scores = [90, 80, 82, 91, 80]

In [25]:
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [26]:
summary_functions = [len, sum, max, min]

In [27]:
mystery_solvers = [
    ['Sherlock', 'Watson'],
    ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
    'Nancy'
]

In [28]:
grades

['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [29]:
# list is ordered -> each item in a list can be refernced by its index or position

grades[0]

'K'

In [30]:
grades[6:9]

[6, 7, 8]

In [31]:
grades[-4:]

[9, 10, 11, 12]

In [32]:
grades[13]

IndexError: list index out of range

In [33]:
vowels

['a', 'e', 'i', 'o', 'u']

In [34]:
'dog' in 'I like my dog'

True

In [35]:
'e' in vowels

True

In [36]:
# strings are immutable

keli = 'cheese sandwich'
kaylie = keli

In [37]:
keli

'cheese sandwich'

In [38]:
kaylie

'cheese sandwich'

In [39]:
keli = 'ham sandwich'

In [40]:
keli

'ham sandwich'

In [41]:
kaylie

'cheese sandwich'

In [43]:
keli_sandwich = ['bread', 'cheese', 'bread']

In [44]:
kaylie_sandwich = keli_sandwich

In [45]:
keli_sandwich

['bread', 'cheese', 'bread']

In [46]:
kaylie_sandwich

['bread', 'cheese', 'bread']

In [47]:
keli_sandwich[1] = 'ham'

In [48]:
keli_sandwich

['bread', 'ham', 'bread']

In [49]:
kaylie_sandwich

['bread', 'ham', 'bread']

In [50]:
a = 1
b = a

In [51]:
a

1

In [52]:
b

1

In [53]:
a = 2

In [54]:
a

2

In [55]:
b

1

In [56]:
a = [1, 2]
b = a

In [57]:
a

[1, 2]

In [58]:
b

[1, 2]

In [59]:
a[0] = 6

In [60]:
a

[6, 2]

In [61]:
b

[6, 2]

In [ ]:
# immutable: ints, floats, strings, booleans
# mutable: lists

In [62]:
a = [1, 2, 3, 4, 5]

In [63]:
a

[1, 2, 3, 4, 5]

In [64]:
b

[6, 2]

In [68]:
combo = ['burger', 'fries', 'drink']
kid_meal = list(combo)

In [69]:
combo

['burger', 'fries', 'drink']

In [70]:
kid_meal

['burger', 'fries', 'drink']

In [71]:
combo[0] = 'chicken sandwich'

In [72]:
kid_meal

['burger', 'fries', 'drink']

In [74]:
perfect_squares = [1, 4, 9, 16, 25, 37, 49]

In [75]:
perfect_squares[5] = 36

In [76]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [77]:
len(perfect_squares)

7

In [78]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [79]:
max(perfect_squares)

49

In [80]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [81]:
sum(perfect_squares)

140

In [82]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [83]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers
characters

['a', 'b', 'c', 1, 2, 3]

In [84]:
1 + 5

6

In [85]:
letters * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [86]:
numbers * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [87]:
letters

['a', 'b', 'c']

In [88]:
numbers

[1, 2, 3]

In [89]:
rainbow = ['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']

In [ ]:
# append(): used to add a single element to the end of a list
# take one argument which is the element to be added to the list
# when you use append(), the argument is added as it is, whether it's a
# single value or another list

In [90]:
rainbow.append('purple')

In [91]:
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple']

In [92]:
rainbow.append(['purple'])

In [93]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple']]

In [ ]:
# extend(): used to add elements from an iterable (list, tuple, etc.) to the
# end of a list
# take one argument which is an iterable
# unpack the elements of the iterable and add them one by one to the end of the
# original list

In [94]:
rainbow.extend(['magenta', 'pink'])

In [95]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink']

In [97]:
rainbow.extend('pale pink')
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k']

In [102]:
new_rainbow = rainbow.append('dark purple')

TypeError: 'NoneType' object is not iterable

In [100]:
print(new_rainbow)

None

In [101]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple']

In [103]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple',
 'dark purple']

In [104]:
rainbow.remove('p')

In [105]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple',
 'dark purple']

In [106]:
del rainbow[-20:]

In [107]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta']

In [108]:
rainbow.clear()

In [109]:
rainbow

[]

In [110]:
fruits = ['pineapple', 'apple', 'kiwi', 'banana']
print(fruits.sort())

None

In [111]:
print(fruits)

['apple', 'banana', 'kiwi', 'pineapple']

In [112]:
veggies = ['potato', 'celery', 'cabbage', 'bell pepper', 'onion']
print(sorted(veggies))

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

In [113]:
print(veggies)

['potato', 'celery', 'cabbage', 'bell pepper', 'onion']

In [115]:
veggies

['potato', 'celery', 'cabbage', 'bell pepper', 'onion']

In [114]:
def last_letter(text):
    return text[-1]

sorted(veggies, key=last_letter)

['cabbage', 'onion', 'potato', 'bell pepper', 'celery']

In [ ]:
# by default numerical data types are sorted in ascending order
# strings will be sorted alphabetically based on the Unicode
# optional key argument where we can pass a function to define how we want to sort that list

In [118]:
students_per_class = [['Grade 9', 20], ['Grade 10', 17], ['Grade 11', 13]]

In [119]:
sorted(students_per_class)

[['Grade 10', 17], ['Grade 11', 13], ['Grade 9', 20]]

In [120]:
def second_element(item):
    return item[1]

students_per_class.sort(key = second_element)

In [121]:
students_per_class

[['Grade 11', 13], ['Grade 10', 17], ['Grade 9', 20]]

In [122]:
sorted(veggies, reverse=True)

['potato', 'onion', 'celery', 'cabbage', 'bell pepper']

In [123]:
sorted(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

In [ ]:
# tuples collections of values
# ordered
# immutable: they cannot be changed once they are created

In [124]:
mutable_synonyms = ('changeable', 'fluctuating', 'inconstant', 'variable')

In [125]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [126]:
# conventional method
empty_tuple = ()

In [128]:
type(empty_tuple)

tuple

In [129]:
empty_tuple2 = tuple()

In [131]:
type(empty_tuple2)

tuple

In [133]:
empty_tuple.append('hi')

AttributeError: 'tuple' object has no attribute 'append'

In [134]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [135]:
len(mutable_synonyms)

4

In [136]:
sorted(mutable_synonyms)

['changeable', 'fluctuating', 'inconstant', 'variable']

In [137]:
mutable_synonyms + ('modifiable', 'shifting')

('changeable',
 'fluctuating',
 'inconstant',
 'variable',
 'modifiable',
 'shifting')

In [138]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [ ]:
# sets collections of values

# unordered and distinct
# unordered: elements do not maintain any specific order
# distinct: all elements are unique

# mutable

In [139]:
things = {'coat', 'lock', 'box', 'book', 'apple', 'hair', 'xylophone', 'lock', 'book'}

In [140]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [141]:
postal_codes = ['M5R', 'M5C', 'M1M', 'M1M', 'M1T']
postal_codes

['M5R', 'M5C', 'M1M', 'M1M', 'M1T']

In [142]:
set(postal_codes)

{'M1M', 'M1T', 'M5C', 'M5R'}

In [143]:
empty_set = set()
# reason for this is dictionaries are another data type that are defined
# with curly braces

In [145]:
type(empty_set)

set

In [146]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [148]:
'potato' in things

False

In [149]:
things.add('lock')

In [150]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [151]:
things.add('mirror')

In [152]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [153]:
things.remove('apple')

In [154]:
things

{'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [155]:
things[1]

TypeError: 'set' object is not subscriptable

In [156]:
rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [ ]:
# difference is going to find the values in the first set that are not in the 
# second set

In [157]:
print(f'In the rainbow but not the Olympic flag: {rainbow.difference(olympic_flag)}')

In the rainbow but not the Olympic flag: {'violet', 'indigo', 'orange'}

In [158]:
olympic_flag.difference(rainbow)

{'black'}

In [161]:
rainbow

{'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

In [162]:
olympic_flag

{'black', 'blue', 'green', 'red', 'yellow'}

In [160]:
# symmetric difference: find the values that are only in one of two sets

rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violet'}

In [164]:
rainbow

{'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

In [165]:
olympic_flag

{'black', 'blue', 'green', 'red', 'yellow'}

In [ ]:
# intersection:  find the values that the two sets have in common

In [163]:
rainbow.intersection(olympic_flag)

{'blue', 'green', 'red', 'yellow'}

In [ ]:
# union: combine the two sets to get the unique values in both

In [167]:
rainbow

{'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

In [168]:
olympic_flag

{'black', 'blue', 'green', 'red', 'yellow'}

In [166]:
rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}